body {
  background: linear-gradient(to right, #dce6f7, #ffffff);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-box h2 {
  margin-bottom: 10px;
  text-align: center;
}

.login-box .subtext {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

.login-box label i {
  margin-right: 8px;
  color: #007bff;
}

.login-box input, .login-box button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.login-box button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* espacio para el ícono */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
